@inherits LayoutComponentBase

<AuthorizeView>
    <Authorized>
        <!-- Layout MIT Sidebar für eingeloggte User -->
        <div class="page">
            <div class="sidebar">
                <NavMenu />
            </div>

            <main>
                <div class="top-row px-4">
                    <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
                </div>

                <article class="content px-4">
                    @Body
                </article>
            </main>
        </div>
    </Authorized>
    <NotAuthorized>
        <!-- Layout OHNE Sidebar für nicht eingeloggte User -->
        <div class="page-fullwidth">
            <main>
                <article class="content px-4">
                    @Body
                </article>
            </main>
        </div>
    </NotAuthorized>
</AuthorizeView>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<style>
    .page-fullwidth {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

        .page-fullwidth main {
            flex: 1;
        }
</style>
